html, body { min-height: 100%; }

body { 
    margin: 0 auto;
    background: url('./images/canteen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2 {
    -webkit-margin-before: 0.3em;
    text-align: center;
}

h4 {
    color:darkblue;
    text-align:center;
}

legend {
    font-size: 18px;
}

.hidden {
    display:none;
}

.input_form {
    white-space: nowrap;
    display:inline;
}

.fieldset_front {
    border:0;
}

fieldset.input_fieldset {
    border:0;
    width: 220px;
    display:inline;
}

input.button {
    width: 120px;
    font-size: 16px;
    padding: 5px;
    background-color: #dcdcdc;
    border: 1px solid #666;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    display:inline;
}

div.button {
    text-align: center;
}

#food_name, #food_name_, #ingredients_ {
    width:190px;
}

#container {
    max-width: 80%;
    min-width: 400px;
    background-color: white;
    background: rgba(255,255,255,0.8);
    margin: 5% auto auto auto;
    border-radius: 30px;
}

#content {
    margin: 0 auto;
    padding: 15px 20px 35px 20px;
}

#header {
    font-size: 27px;
    text-align: center;
}

#upload-link {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

