html, body { min-height: 100%; }

body { 
    margin: 0 auto;
    background: url('./images/canteen.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2 {
    -webkit-margin-before: 0.3em;
    text-align: center;
}

h4 {
    color:darkblue;
    text-align:center;
}

h5 {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 20px;
}

legend {
    font-size: 18px;
}

a {
    text-decoration:none;
    color:black;
}

.hidden {
    display:none;
}

.input_form {
    white-space: nowrap;
    display:inline;
}

.fieldset_front {
    border:0;
}

.basic_info_element {
    margin: 0 0 10px 0;
}

fieldset.input_fieldset {
    border:0;
    width: 220px;
    display:inline;
}

fieldset.input_fieldset2 {
    border:0;
    display:inline;
}

input.button {
    width: 120px;
    font-size: 16px;
    padding: 5px;
    background-color: #dcdcdc;
    border: 1px solid #666;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    display:inline;
}

div.button {
    text-align: center;
}

#food_name, #food_name_, #ingredients_ {
    width:190px;
}

#container {
    width: 80%;
    max-width: 1000px;
    min-width: 400px;
    background-color: white;
    background: rgba(255,255,255,0.8);
    margin: 5% auto auto auto;
    border-radius: 30px;
}

#content {
    margin: 0 auto;
    padding: 15px 20px 35px 20px;
}

#header {
    font-size: 27px;
    text-align: center;
}

#upload-link {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

#pic_submit, $pic_upload {
    display:inline; 
}

div#basic_information {
    margin-bottom: 20px;
}

#img_container {
    display:inline-block;
    margin-left: 2%;
}

#basic_info_container {
    display:inline-block;
    vertical-align: top;
}

p.food_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

img.dish_img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    border-radius:20px;    
}

#comment_area {
    content: "";
}

#comment_title {
    margin-top: 10px;
}

.bottom_line_span {
    float: right;
    margin-right: 20%;
}

#comments {
    min-width: 200px;
    width: 50%;
    display:inline-block;
    margin-right: 5%;
    vertical-align: top;
    word-wrap: break-word;
}

textarea {
    resize:none;
    width: 90%;
}

#_reviewer_name {
    width: 50%;
}

div#add_comment {
    min-width: 200px;
    width: 40%;
    display:inline-block;
    vertical-align: top;
}

.add_comment_label {
    margin-top: 0;
    margin-bottom: 5px;
}

.add_comment_box {
    margin-top: 0;
}

.rating {
    margin: 0 0 0 0;
}

.comment {
    margin: 5px 0 0 0;
}

.reviewer_name {
    margin: 3px 0 0 0;
}

.selected_row {
    background-color: tan;
}

.plain_row {
    background-color: transparent;
}
